// Colors
$main-background-color: #333333;
$main-text-color: white;

$red: #D22D2D;
$red-background: #FAEAEA;

$green: #4DB38D;
$green-background: #EEF7F3;

$blue: #1289C7;
$blue-background: #EBF4FA;
