@import "reset.scss";
@import "vars.scss";

@mixin fullscreen-editor {
    top: 26px;
    bottom: 56px;
    left: 26px;
    right: 26px;
    min-width: 0;
    min-height: 0;
}

body {
    background: $main-background-color;
    color: $main-text-color;
    padding: 30px;
    padding-bottom: 60px;
    display: flex;
    justify-content: center;

    .outlet-wrapper {
        width: 100%;
        display: flex;
        justify-content: center;
    }
}

.editor {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    position: relative;
    min-width: 780px;
    min-height: 460px;
    box-shadow: $box-shadow-strong;
    border-top-right-radius: $border-radius-strong;
    border-top-left-radius: $border-radius-strong;
    border-bottom-left-radius: 0;
    border-bottom-left-radius: 0;
    position: fixed;
    top: 18vh;

    &:before {
        content: "";
        position: absolute;
        top: -2px;
        left: -2px;
        right: -2px;
        z-index: -1;
        bottom: -34px;
        filter: blur(4px);
        border-radius: $border-radius-strong;
        transition: background-color, box-shadow 300ms $ease 0s;
    }

    &.is-fullscreen {
        @include fullscreen-editor;
    }



    textarea {
        padding: 30px 60px 40px 34px;
        resize: none;
        flex-grow: 1;
        border-top-left-radius: $border-radius-strong;
        border-top-right-radius: $border-radius-strong;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
        font-family: $serif-font;
        font-weight: 800;
        font-size: 20px;
        line-height: 32px;
        transition: color, background-color 200ms $ease 0s;

        &::placeholder {   
            color: grey;
        }
    }

    &.pink {
        textarea {
            color: $pink;
            background-color: $pink-background;

            &::placeholder {
                color: #ff0a7870;
            }
        }

        .key-data {
            background-color: $pink;
        }

        &:before {
            background-color: #da5a92;
            box-shadow: 0 0 15px #da5a92;
        }
    }

    &.green {
        textarea {
            color: $green;
            background-color: $green-background;

            &::placeholder {
                color: #1a9c7187;
            }
        }

        .key-data {
            background-color: $green;
        }

        &:before {
            background-color: #20966f;
            box-shadow: 0 0 15px #20966f;
        }
    }

    &.blue {
        textarea {
            color: $blue;
            background-color: $blue-background;

            &::placeholder {
                color: #405be282;
            }
        }

        .key-data {
            background-color: $blue;
        }

        &:before {
            background-color: #657df5;
            box-shadow: 0 0 15px #657df5;
        }
    }

    &.orange {
        textarea {
            color: $orange;
            background-color: $orange-background;

            &::placeholder {
                color: #e49893;
            }
        }

        .key-data {
            background-color: $orange;
        }

        &:before {
            background-color: #dc7871;
            box-shadow: 0 0 15px #dc7871;
        }
    }

    button.action {
        position: absolute;
        right: 10px;
        height: 34px;
        width: 34px;
        background: transparent;
        
        &.clear {
            bottom: 10px;
        }

        &.full-screen {
            top: 12px;
        }
        
        svg {
            fill: #777777;
            transition: $transition-fast;
        }

        &:hover, &:focus {
            svg {
                fill: black;
            }
        }
    }

    .key-data {
        display: flex;
        align-items: center; 
        position: absolute;
        padding-left: 30px;
        padding-right: 30px;
        left: 0;
        right: 0;
        bottom: -30px;
        height: 30px;
        background-color: grey;
        border-bottom-left-radius: $border-radius-strong;
        border-bottom-right-radius: $border-radius-strong;
        font-family: 'Roboto Mono', monospace;
        font-weight: 600;
        text-shadow: $text-shadow-normal;
        color: rgba(255, 255, 255, .9);
        transition: background-color 200ms $ease 0s;
        box-shadow: $box-shadow-strong;

        a.github {
            position: absolute;
            right: 14px;
            top: 0;
            height: 30px;
            width: 30px;
            background: transparent;
            display: flex;
            align-items: center;
            justify-content: center;

            svg {
                fill: rgba(255, 255, 255, 0.7);
                transition: background-color, 300ms $ease 0s; 
            }

            &:hover, &:focus {
                svg {
                    fill: rgba(255, 255, 255, 0.9); 
                    transition: background-color, 300ms $ease 0s; 
                }
            }
        }

        .data {
            display: flex;
            align-items: center;
            min-width: 130px;
            height: 100%;
            font-size: 14px;

            &:first-of-type {
                min-width: 80px;
            }

            + .data {
                margin-left: 30px;
            }
        }
    }

    @media screen and (max-width: 820px) {
        @include fullscreen-editor;

        button.action.full-screen {
            display: none;
        }

        .color-picker {
            top: 14px;
        }

        textarea {
            padding: 20px 60px 40px 24px;
            font-size: 16px;
            line-height: 28px;
        }
    }
}

.color-picker {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 56px;
    right: 14px;

    button.color {
        height: 26px;
        width: 26px;
        border-radius: 50%;
        background: white;
        border: 3px solid transparent;
        box-shadow: inset -1px -1px 0 rgba(0, 0, 0, .5), inset 1px 1px 0 0 rgba(255, 255, 255, .6);
        transition: $transition-medium;

        + button.color {
            margin-top: 4px;
        }

        &.selected {
            border: 3px solid rgba(0, 0, 0, .4);
        }

        &.pink {
            background-color: $pink;
        }

        &.green {
            background-color: $green;
        }

        &.blue {
            background-color: $blue;
        }

        &.orange {
            background-color: $orange;
        }

        &:hover, &:focus {
            &.pink {
                background-color: lighten($pink, 8%);
            }
    
            &.green {
                background-color: lighten($green, 8%);
            }
    
            &.blue {
                background-color: lighten($blue, 8%);
            }
                
            &.orange {
                background-color: lighten($orange, 8%);
            }
        }
    }
}