@import "reset.scss";
@import "vars.scss";

body {
    background: $main-background-color;
    color: $main-text-color;
    padding: 30px;
    padding-bottom: 60px;
    display: flex;
    justify-content: center;

    .outlet-wrapper {
        width: 100%;
        display: flex;
        justify-content: center;
    }
}

.editor {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    position: relative;
    max-width: 800px;
    margin-top: 60px;
    box-shadow: $box-shadow-strong;
    border-top-right-radius: $border-radius-strong;
    border-top-left-radius: $border-radius-strong;

    textarea {
        padding: 30px 60px 40px 34px;
        resize: none;
        flex-grow: 1;
        border-top-left-radius: $border-radius-strong;
        border-top-right-radius: $border-radius-strong;
        font-family: $serif-font;
        font-weight: 800;
        font-size: 20px;
        line-height: 32px;
        min-height: 400px;

        &:placeholder {
            color: grey;
        }
    }

    &.pink {
        textarea {
            color: $pink;
            background: $pink-background;

            &::placeholder {
                color: #ff0a7870;
            }
        }
    }

    &.green {
        textarea {
            color: $green;
            background: $green-background;


            &::placeholder {
                color: #1a9c7187;
            }
        }
    }

    &.blue {
        textarea {
            color: $blue;
            background: $blue-background;

            &::placeholder {
                color: #405be282;
            }
        }
    }

    button.clear {
        position: absolute;
        right: 10px;
        bottom: 10px;
        height: 34px;
        width: 34px;
        background: transparent;
        
        svg {
            fill: #999999;
            transition: $transition-fast;
        }

        &:hover {
            svg {
                fill: #333333;
            }
        }
    }

    .key-data {
        display: flex;
        align-items: center; 
        position: absolute;
        left: 0;
        right: 0;
        bottom: -30px;
        height: 30px;
        background-color: grey;
        border-bottom-left-radius: $border-radius-strong;
        border-bottom-right-radius: $border-radius-strong;
        font-family: 'Roboto Mono', monospace;
        font-weight: 600;
        text-shadow: $text-shadow-normal;
        color: rgba(255, 255, 255, .9);
        transition: background-color 200ms $ease 0s;
        box-shadow: $box-shadow-strong;

        &.pink {
            background-color: $pink;
        }

        &.green {
            background-color: $green;
        }

        &.blue {
            background-color: $blue;
        }

        .data {
            display: flex;
            align-items: center;
            min-width: 80px;
            padding-left: 30px;
            height: 100%;
            font-size: 14px;
        }
    }
}

.color-picker {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 14px;
    right: 14px;

    button.color {
        height: 26px;
        width: 26px;
        border-radius: 50%;
        background: white;
        border: 3px solid transparent;
        box-shadow: inset -1px -1px 0 rgba(0, 0, 0, .5), inset 1px 1px 0 0 rgba(255, 255, 255, .6);
        transition: $transition-medium;

        + button.color {
            margin-top: 4px;
        }

        &.selected {
            border: 3px solid rgba(0, 0, 0, .4);
        }

        &.pink {
            background-color: $pink;
        }

        &.green {
            background-color: $green;
        }

        &.blue {
            background-color: $blue;
        }

        &:hover, &:focus {
            &.pink {
                background-color: lighten($pink, 8%);
            }
    
            &.green {
                background-color: lighten($green, 8%);
            }
    
            &.blue {
                background-color: lighten($blue, 8%);
            }
        }
    }
}