<div class="key-data">
	<div class="data">
		{{words @value}}
	</div>
	<div class="data">
		{{chars @value}}
	</div>
	<div class="data">
		{{lines @value}}
	</div>
	<a class="github" href="https://github.com/adamfuhrer/neon-editor" target="_blank" title="GitHub repo">
		{{svg-jar "github" width="18px" height="18px"}}   
	</a>
</div>